body{
font-family:sans-serif;
width:100%;
}

.example{
box-shadow:0px 0px 10px rgba(0,0,0,0.2);
width:150px;
padding:5px;
}

.model{
position:absolute;
top:70px;
left:50%;
padding:10px;
white-space: pre-wrap;
word-wrap: break-word;
border-left:1px dotted red;
}

.error{
font-size:10px;
color:red;
}

.rosteritem{
margin:6px;
}    

.indicator{
    display:inline-block;
    width:15px;
    height:15px;
    background-image:url("icons/online.png");
    margin:2px;
    background-size:contain;
}
.indicator.chat{
    background-image:url("icons/chatty.png");
}

.indicator.offline{
    background-image:url("icons/offline.png");
}

.indicator.away{
    background-image:url("icons/away.png");
}
.indicator.xa{
    background-image:url("icons/xa.png");
}
.indicator.dnd{
    background-image:url("icons/dnd.png");
}
.indicator.ask{
    background-image:url("icons/ask.png");
}
.indicator.noauth{
    background-image:url("icons/noauth.png");
}
.indicator.none{
    background-image:url("icons/perr.png");
}

.status{
    margin-left:22px;
    font-size:12px;
}
